
#dis{
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 32%;
    margin-right:34%;
}
#dis h3{
     margin: 5px;
    text-align: center;
    background-color: bisque;
    width: 470px;
    height: 50px;
    border-radius: 10px;
}